.m-image-cover {
  background-image: url('../assets/app/media/img/bg/bg-9.jpg');
  background-size: cover;
}

.modal {
  margin: 60px;
}
.imageThumb {
  width: 100%;
  hegiht: 70px;
  object-fit: cover;
  
}

.imgJenisKoperasi{
  object-fit: cover;
  width:220px;
  height:200px;
  margin-top:5px;
  border: 1px solid gray;
}